---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} jade0x. All rights reserved. This blog uses an <a href="https://github.com/cassidoo/blahg">open-source template</a>! :)
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
