---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
const imagePath = "/profilepicture.png";
---

<!-- @ts-nocheck -->

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1>{title}</h1>
			<h2>{description}</h2>
		</div>
		<div class="img-frame">
			<img id="propic" src={imagePath} alt="Your profile picture">
			<p id="imageError" style="display: none;">Image failed to load</p>
		</div>
	</div>
</header>
<nav>
	<HeaderLink href="/">home</HeaderLink>
	<HeaderLink href="/posts">posts</HeaderLink>
</nav>

<style>
	h2 {
		margin: 0.5em 0;
	}
	.header-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap; /* Allow wrapping on smaller screens */
	}
	.header-frame {
		flex: 1; /* Take up available space */
		min-width: 200px; /* Ensure it doesn't get too narrow */
	}
	.img-frame {
		width: 200px; /* Adjust as needed */
		margin: 0 auto; /* Center the image frame */
	}
	#propic {
		width: 100%;
		height: auto;
		border-radius: 50%; /* This makes the image circular */
		display: block; /* Removes any inline spacing */
		margin: 0 auto; /* Centers the image within its container */
	}

	/* Media query for mobile views */
	@media (max-width: 768px) {
		.header-section {
			flex-direction: column; /* Stack elements vertically on mobile */
			text-align: center; /* Center text on mobile */
		}
		.img-frame {
			margin-top: 1em; /* Add some space between text and image on mobile */
		}
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		/** @type {HTMLImageElement | null} */
		const img = document.getElementById('propic');
		/** @type {HTMLParagraphElement | null} */
		const errorMsg = document.getElementById('imageError');
		
		if (img && errorMsg) {
			img.onerror = function() {
				img.style.display = 'none';
				errorMsg.style.display = 'block';
			};
		}
	});
</script>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		/** @type {HTMLImageElement | null} */
		const img = document.getElementById('propic');
		/** @type {HTMLParagraphElement | null} */
		const errorMsg = document.getElementById('imageError');
		
		if (img && errorMsg) {
			img.onerror = function() {
				img.style.display = 'none';
				errorMsg.style.display = 'block';
			};
		}
	});
</script>